@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.formContainer {
  margin-left: 0;
  margin-right: 0;
  text-align:center;
  position: absolute;
  top: 134px;
  left: 0px;
  right: 0px;
  z-index: 900;
  background-color: #2B5292;
  color: #EFEFEF;
  font-family: 'Playfair Display', serif;
  font-weight: 550;
  font-size: 20px;
}
