@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


form {
  text-align:right;
  width: 350px;
  margin-left: 40%;
  cursor: default;
}

/* #demoButton {
  float: right;
  margin-right: 500px;
  position: relative;
} */
