body {
  background-color: #EFEFEF;
  padding-right: 10%;
  padding-left: 10%;
}

.navHome {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 81%;
  text-decoration: none;
  float: left;
}

.navButton {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 81%;
  text-decoration: none;
  float: right;
  margin-left: 4%;
}
